* {
    padding: 0;
    margin: 0;
}

body {

}

#Controls {
    text-align: center;
}

canvas {
    background-color: #857bcc;
    display: block;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 100vw;
    width: auto;
    height: auto;
    image-rendering: pixelated;
}
